/* Tablet Layout: 768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {
.container {width:750px}

.single_testi.item h2 {
	font-size: 48px;
	padding-bottom: 32px;
}
.single_testi.item p {
	font-size: 20px;
	padding-bottom: 50px;
}
.single_testi.item button {
	font-size: 24px;
	padding: 18px 36px;
}
.owl-next {
	left: 93%;
}
.single_icon h3 {
	font-size: 20px;
	padding-top: 40px;
	padding-bottom: 24px;
}
.port_btn button {
	font-size: 22px;
	padding: 20px 36px;
}
.portfolio_area {
	padding-top: 40px;
	padding-bottom: 60px;
}
.team_area {
	padding-top: 45px;
	padding-bottom: 50px;
}
.single_client h2 {
	font-size: 36px;
	color: #4e525d;
	padding-bottom: 18px;
	text-transform: capitalize;
}
.single_client p {
	padding-right: 23%;
	padding-left: 23%;
}
.single_team img {
	width: 150px;
	height: 150px;
}
.single_team h3 {
	font-size: 20px;
	padding-top: 32px;
	padding-bottom: 18px;
}
.single_team p {
	font-size: 13px;
}








}











/* Mobile Layout: 320px. */

@media only screen and (max-width: 767px) {

.container {width:300px}

#header-navbar img {
	width: 60%;
}
.single_testi.item h2 {
	font-size: 20px;
	padding-bottom: 12px;
}
.slider_area {
	padding-top: 20px;
	padding-bottom: 20px;
}
.single_testi.item p {
	font-size: 12px;
	padding-bottom: 18px;
}
.single_testi.item button {
	font-size: 14px;
	padding: 10px 20px;
	border: 1px solid #fff;
}
.owl-prev {
	width: 30px;
	height: 30px;
	line-height: 30px;
	font-size: 15px;
	top: 36%;
}
.owl-next {
	top: 36%;
	left: 92%;
	height: 30px;
	width: 30px;
	line-height: 30px;
	font-size: 15px;
}
.icon_area {
	padding-top: 20px;
	padding-bottom: 20px;
}
.single_icon_img {
	width: 60px;
	height: 60px;
	border: 1px solid #49cbcd;
	padding-top: 15px;
}
.single_icon_img img {
	width: 40%;
}
.single_icon h3 {
	font-size: 16px;
	padding-top: 15px;
	padding-bottom: 12px;
}
.single_icon p {
	font-size: 12px;
	padding-bottom: 18px;
}
.single_icon a {
	padding: 8px 15px;
	font-size: 12px;
}
.single_icon {
	padding-bottom: 15px;
}
.single_port h2 {
	padding-bottom: 20px;
	font-size: 24px;
}
.portfolio_area {
	padding-top: 18px;
	padding-bottom: 20px;
}
.portfolio img {
	padding-bottom: 18px;
}
.port_btn button {
	font-size: 16px;
	padding: 15px 30px;
	margin-top: 10px;
}
.team_area {
	padding-top: 15px;
	padding-bottom: 18px;
}
.the_team h2 {
	font-size: 20px;
	padding-bottom: 20px;
}
.single_team img {
	width: 130px;
	height: 130px;
}
.single_team h3 {
	font-size: 16px;
	padding-top: 18px;
	padding-bottom: 10px;
}
.single_team h3 span {
	font-size: 12px;
}
.single_team p {
	font-size: 12px;
	padding-bottom: 15px;
}
.single_client {
	padding-top: 15px;
	padding-bottom: 20px;
}
.single_client p {
	padding-right: 10%;
	padding-left: 10%;
	padding-bottom: 15px;
	font-size: 12px;
}
.single_client h2 {
	font-size: 24px;
	padding-bottom: 12px;
}
.single_client h3 {
	font-size: 16px;
}
.footer_area {
	padding-top: 20px;
	padding-bottom: 18px;
}
.footer_up h2 {
	color: #fff;
	font-size: 24px;
	padding-bottom: 18px;
}
.footer_left h2 {
	font-size: 18px;
	padding-bottom: 12px;
	text-align: center;
}
.footer_left p {
	font-size: 12px;
	padding-bottom: 15px;
	text-align: center;
	padding-right: 0%;
	
}
.footer_left ul li {
	float: left;
	padding-left: 40px;
	padding-bottom: 20px;
}
.footer_right input {
	width: 100%;
	height: 36px;
	margin-bottom: 15px;
	font-size: 12px;
}
.footer_right textarea {
	width: 100%;
	height: 120px;
	margin-bottom: 18px;
	padding-left: 12px;
	padding-top: 10px;
}
.footer_right button {
	padding: 10px 36px;
	font-size: 12px;
	float: unset;
}
.footer_right {
	text-align: center;
}








}
